@model CategoryViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <h4>Категория "@Model.CategoryName"</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Url.Action("Image", new { Id = Model.CategoryId })" width="100" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CategoryId">Редактировать</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
